
@{
    ViewBag.Title = "Contact";
}

<a href="/Portfolio/Education">Education</a>
<a href="/Portfolio/Projects">Projects</a>
<a href="/Portfolio/Contact">Contact</a>

<h2 class="card-header">Contact</h2>



<p> Hi, I am <b>@Model.name </b> . A Software developer.</p>
<p> If you want to contact me send mail to <a href="mailto:@Model.email">tdas41380@gmail.com</a></p>
<p> See more of my projects <a href="@Model.gitLink">Repositories</a></p>
